@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    outline: none;
}

body {
    background-image: linear-gradient(to right top, rgb(39, 8, 29), rgb(168, 4, 4));
    min-height: 87vh;
}

.github-btn a {
    position: absolute;
    top: 25px;
    left: 35px;
    color: inherit;
    text-decoration: inherit;
    font-size: 50px;
    color: white;
    transition: transform 1s ease-in-out;
}

::placeholder {
    color: rgb(0, 0, 0);
    opacity: .7;
  }

.input-container {
    margin: auto;
    width: 70%;
    display: grid;
    grid-template-areas: 'add text';
    grid-template-columns: 80px minmax(0, 1fr);
    margin-bottom: 0px;
    transition: .2s ease-in-out;
    border-radius: 20px;
}

.input-container:hover {
    box-shadow: 0px 0px 20px #000000;
}

#add {
    grid-area: add;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    transition: .3s;
}

#add:hover {
    background-color: white;
    color: black;
}

input {
    grid-area: text;
    direction: rtl;
    width: 100%;
    background-color: white;
    text-align: right;
    overflow: auto;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
}

.item-input {
    padding: 15px 20px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    font-size: 20px;
}

.filter-container {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    margin-right: 40px;
}

.filter-btn {
    position: absolute;
    left: -40px;
    top: 2px;
    cursor: pointer;
    padding: 10px;
    font-size: 30px;
    transform: scale(1);
    transition: .6s ease-in-out,
                transform 1s ease-in-out,
                text-shadow .3s ease-in-out,
                color .2s ease-in-out;
    color: white;
}

.filter-btn:hover {
    text-shadow: 0px 0 10px rgba(0, 0, 0, 0.562);
}

.filter-input {
    direction: rtl;
    width: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    float: right;
    font-size: 20px;
    transition: .4s ease-in-out;
}

.filter-input.open {
    padding: 10px;
    width: 30vw;
    padding-left: 50px;
}

.filter-btn.open {
    left: -0px;
    color: black;
}

.scale {
    transform: scale(1.3);
}

.todos-container {
    margin: auto;
    margin-top: 30px; 
    margin-bottom: 50px; 
    width: 70%;
    border: 3px solid white;
    border-radius: 20px;
}

.logo {
    margin: 50px auto;
    margin-top: 100px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 60px;
    text-shadow: 0px 0 20px black;
    transition: 1s;
}

.logo.shadow {
    text-shadow: 0px 0 0px black;
}

.todo {
    list-style: none;
    display: grid;
    grid-template-areas: 'remove text check';
    grid-template-columns: 60px minmax(0, 1fr) 60px;
    grid-gap: 7px;
    font-weight: 200;
    margin: 0;
    padding-top: 10px;
    transform-origin: top;
    max-height: 0;
    overflow: hidden;
    transition: .3s ease-in-out;
}

.todo.visible {
    margin: 10px;
    padding: 0;
    max-height: 1000px;
    overflow-y: auto;
}

.button {
    width: 100%;
    text-align: center;
    background-color: #030303;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}

.text {
    grid-area: text;
    background-color: white;
    text-align: right;
    overflow: auto;
    padding: 15px;
    direction: rtl;
    border-radius: 20px;
    font-size: 20px;
    transition: .2s ease;
}

.text.checked {
    text-decoration: line-through;
    background-color: rgb(91, 185, 53);
}

.remove {
    grid-area: remove;
    transition: .2s ease;
    background-color: #da1d1d;
}

.check {
    grid-area: check;
    transition: .2s ease;
    background-color: white;
    color: #42b42b;
}

button.check:hover {
    background-color: #42b42b;
    color: white;
}

.check.checked {
    background-color: #42b42b;
    color: white;
}


.remove:hover {
    color: #da1d1d;
    background-color: white;
}
